
@tailwind base;
@tailwind components;
@tailwind utilities;

/* انیمیشن‌های Modal */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes scaleUp {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

.animate-fadeIn { animation: fadeIn 0.2s ease-out forwards; }
.animate-scaleUp { animation: scaleUp 0.2s ease-out forwards; }
